//create conversation cards
.topic-body {
	background-color: lighten($secondary, 10%);
	margin-top: 10px;
	padding: 20px;
	border-radius: 2px;
}

//more space for avatars
.topic-avatar {
	border-top: 0;
	padding-top: 20px;
	padding-left: 10px;

	.avatar-flair {
		right: 4px;
	}
}

//increase space between post meta and post content
.boxed .contents {
	padding: 20px 0 0 0;
}

//remove stray border from bottom of last post
.topic-status-info {
	border-top: 0;
}

.small-action {
	border: none;
}

#topic-closing-info {
	border: none;
}

//remove lines between cards
.topic-post article {
	border: none;
}

// RTL Overrides
.rtl {
	.topic-avatar {
		padding-left: initial;
		padding-right: 10px;

		.avatar-flair {
			right: initial;
			left: 4px;
		}
	}
}

.brand-header {
	display: none;
}

#banner {
	padding: 4rem 1rem;
	margin: 0;
}

.d-header {
	.panel {
		position: unset;
	}
	.header-buttons {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 1rem);
		background: #e8ebf0;
		padding: 0.5rem;
		border-radius: 0.25rem;
		justify-content: center;
		top: 5.25rem;
		&:empty {
			display: none;
		}
	}
}