@font-face {
	font-family: "Aleck";
	font-weight: 300;
	font-style: normal;
	src: url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Lt.woff2') format('woff2'),
	url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Lt.woff') format('woff');
}

@font-face {
	font-family: "Aleck";
	font-weight: 400;
	font-style: normal;
	src: url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Rg.woff2') format('woff2'),
	url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Rg.woff') format('woff');
}

@font-face {
	font-family: "Aleck";
	font-weight: 400;
	font-style: italic;
	src: url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_It.woff2') format('woff2'),
	url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_It.woff') format('woff');
}

@font-face {
	font-family: "Aleck";
	font-weight: 500;
	font-style: normal;
	src: url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Md.woff2') format('woff2'),
	url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Md.woff') format('woff');
}

@font-face {
	font-family: "Aleck";
	font-weight: 700;
	font-style: normal;
	src: url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Bd.woff2') format('woff2'),
	url('https://www.att.com/mktg/v1/_next/static/fonts/ATTAleckSans_W_Bd.woff') format('woff');
}

:root {
	font-family: "Aleck", Verdana, sans-serif;
	font-weight: 400;
}

body input,
body button,
body select,
body textarea {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

@mixin buttonShadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

//raise and round buttons
.btn {
	border-radius: 2px;
	@include boxShadow;
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
	border-radius: 0;
	box-shadow: none;
}
